<head>
    <link rel="stylesheet" type="text/css" href="~/Stylin.css"
</head>

<h1>About Hedgehog and Otter</h1>
<br />
<p></p>
<p3>
    <span class="words">HedgeHog & Otter is a locally owned book store running since 1990 and located in WI, Eau Claire. Specializing, but not limited to, locating and supplying materials for research purposes, through academic conferences and,
nationally and internationally, via Internet outlets.
<br />
<br />
    HedgeHog & Otter also does collection appraisals for tax purposes.
</span>
</p3>
<br />
<br />
<h1>Meet the owner</h1>
<br />
<br />
<iframe type="text/html" width="530" height="385" src="http://www.youtube.com/embed/9CbJCtSI_L8?autoplay=0" frameborder="0"></iframe>
<br />
<br />
<a href="https://philkaveny.wordpress.com/">Phil's blog</a>
<br /><br /><br />
<img src="~/Phil.PNG" />
<p><small> Philip Kaveny, Hugo Award Nominee, Scholar, and Author</small></p>
<br />
<h3> Education </h3>
<p3>
    <span class="words">
        <ul>
            <li>Second B.A., Philosophy and Religious Studies, UW Eau Claire, spring 2005-present (In Progress).</li>
            <li>Certificate of Advanced Graduate Studies, LIBRARY AND INFORMATION STUDIES, UW Madison, May 1998.</li>
            <li>M.A. LIBRARY AND INFORMATION STUDIES, UW Madison, August 1993.</li>
            <li>Special Student, SCHOOL OF EDUCATION, UW Madison, 1974-75.</li>
            <li>B.S. HISTORY & POLITICAL SCIENCE, UW Madison, September 1967.</li>
        </ul>
    </span>
</p3>
<br />
<h3> Experience </h3>
<p3>
    <span class="words">
        <ul>
            <li>Department of Social Education, UW Madison, 1970-2000.</li>
            <li>Reference Assistant, Volunteer, Journalism Library, UW Madison, 1992.</li>
        </ul>
    </span>
</p3>
<br />
<h3> Writings </h3>
<p3>
    <span class="words">
        <ul>
            <li>Fiction writings published in the regional magazine, Etchings and Oddysseys, 1985-1987.</li>
            <li>Four articles published in The Flip Side (2006), UW Madison, "I Was There". As well as “One-Hundred-Seventy-Seven Kilograms”.</li>
            <li>A play produced by Madison Unitarian Play Reading Group, "The Munitions Factory", 1980.</li>
            <li>“Phoenix 2478 A.D.”, Janus, 1978 and “The Road Not Taken”, Janus, 1977.</li>
            <li>Reviews of fiction and non-fiction for: Science Fiction and Fantasy Book Review Annual, SFRA Review, Utopian Studies, FemSpec, Extrapolation, New York Review of Science Fiction, MBR, Society for Medieval Military History. Ongoing since 1993.</li>
            <li>Six short articles for <i>Oxford Encyclopedia of Children's Literature</i>,2006.</li>
            <li>In collaboration with J. Bogstad, "GIBSON AND STERLING, The Difference Engine". <i>Magill's Guide to Science Fiction and Fantasy Literature</i>.</li>
        </ul>
    </span>
</p3>
<br />
<h3> Memberships </h3>
<p3>
    <span class="words">
        <ul>
            <li>AAUW</li>
            <li>IAFA</li>
            <li>MLA</li>
            <li>Mythopoeic Society</li>
            <li>SFRA</li>
            <li>USCF</li>
        </ul>
    </span>
</p3>
<br />
<h3> Service </h3>
<p3>
    <span class="words">
        <ul>
            <li>President of UW Eau Claire Chess Club, ongoing since spring of 2006.</li>
            <li>Guest Lecture:
                <ul>
                    <li>"Math and Chess". Annual spring lectures held by the Math department of UW Whitewater, 1972-74.</li>
                    <li>“New Perspectives on Sylvia Plath”. English 290 lecture in UW Eau Claire, fall 2005.</li>
                    <li>“Feminist Theory and Post Modernism”. WS 250 lecture in UW Eau Claire, fall 2006.</li>
                    <li>”Science Fiction and Young Adult Services”. SLIS lecture in UW Madison,spring 1996.</li>
                </ul>
            </li>
        </ul>
    </span>
</p3>