<head>
    <link rel="stylesheet" type="text/css" href="~/Stylin.css"
</head>

<h1 id="aboutTitle">About Hedgehog and Otter</h1>
<br />
<p></p>
<p3>
    <span>
        HedgeHog & Otter is a locally owned book store running since 1990 and located in WI, Eau Claire. Specializing, but not limited to, locating and supplying materials for research purposes, through academic conferences and,
        nationally and internationally, via Internet outlets.
        <br />
        <br />
        HedgeHog & Otter also does collection appraisals for tax purposes.
    </span>
</p3>
<br />
<br />
<div align="center">
    <h1>Meet the owner</h1>
    <img src="~/Phil.PNG" />
    <p><small> Philip Kaveny, Hugo Award Nominee, Scholar, and Author</small></p>
    <br />
    <br />
    <iframe type="text/html" width="530" height="385" src="http://www.youtube.com/embed/9CbJCtSI_L8?autoplay=0" frameborder="0"></iframe>
    <iframe type="text/html" width="530" height="385" src="https://www.youtube.com/embed/jPgvmCVDfiY?autoplay=0" frameborder="0"></iframe>

    <br />
    <br />
    <a href="https://philkaveny.wordpress.com/">Phil's blog</a>
    <br /><br /><br />
</div>