<head>
    <link rel="stylesheet" type="text/css" href="~/Stylin.css"
</head>

<h1>About Hedgehog and Otter</h1>
<br />
<p></p>
<p3>
    <span class="words"> Hedgehog and Otter is a locally owned bookstore featuring a wide variety of literary works.</span>
</p3>
<br />
<br />
<h1>Meet the owner</h1>
<img src="~/Phil.PNG" />
<p>Phil Kaveny has owned Hedgehog and Otter since 1986 and is a .... .... </p>
<a href="https://philkaveny.wordpress.com/">Phil's blog</a>