<h1>Contact Hedgehog and Otter</h1>

<!-- Need to Edit to allow for PHP-->

<form action="mailto:kavenype@uwec.edu" method="post" enctype="text/plain">
    <div class="row">
        <label for="name">Your name:</label><br />
        <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    </div>
    <div class="row">
        <label for="email">Your email:</label><br />
        <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    </div>
    <div class="row">
        <label for="message">Your message:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    </div>
    <input id="submit_button" type="submit" value="Send email" />
</form>

<br />
<address>
    800 Wisconsin Street<br />
    Eau Claire, WI 54703<br />
    (715)497-6369
</address>