
@{
    ViewBag.Title = "CreateBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add a Book</h2>
<form method="post">
    <table>

        <tr><td>Title:</td> <td><input name ="Title" type='text' required /></td></tr>
        <tr><td>Author:</td> <td><input name ="Author" type='text' required /></td></tr>
        <tr><td>Book Condition:</td><td> <input  name ="BookCnd" type='text' required /></td></tr>
        <tr><td>Description:</td> <td><input  name ="Description" type='text' required /></td></tr>
        <tr><td>Subject:</td><td> <input name ="Subject" type='text' required /></td></tr>
        <tr><td>Quantity:</td> <td><input name ="Qty" type='text' required /></td></tr>
        <tr><td>Price:</td><td> <input name ="Price" type='text' required /></td></tr>
        <tr><td>ISBN #:</td><td> <input name ="ISBN" type='text' required /></td></tr>
        <tr><td>Publisher:</td><td> <input name ="Publisher" type='text' required /></td></tr>
        <tr><td>Publisher Place:</td> <td><input name ="PublisherPlace" type='text' required /></td></tr>
        <tr><td>Publish Year:</td><td> <input name ="PublisherYear" type='text' required /></td></tr>

    </table><br>
    <button type="submit">Save</button>
</form>
